.ui-job-icon-database {
	background: url(../../../images/job-icon-sets/job-icon-set1/Database_16x16.png) no-repeat !important;
}

.ui-job-icon-batch {
	background: url(../../../images/job-icon-sets/job-icon-set1/Documents_x3_16x16.png) no-repeat !important;
}

.ui-job-icon-ws {
	background: url(../../../images/job-icon-sets/job-icon-set1/View_List_16x16.png) no-repeat !important;
}

.ui-job-icon-remote {
	background: url(../../../images/job-icon-sets/job-icon-set1/Hierarchy_16x16.png) no-repeat !important;
}

.ui-job-icon-syscom {
	background: url(../../../images/job-icon-sets/job-icon-set1/Ad_Dollars_16x16.png) no-repeat !important;
}

.ui-job-icon-shell-script {
	background: url(../../../images/job-icon-sets/job-icon-set1/Script_16x16.png) no-repeat !important;
}

.ui-job-icon-ftp {
	background: url(../../../images/job-icon-sets/job-icon-set1/Document_Form_16x16.png) no-repeat !important;
}

.ui-job-icon-file-read {
	background: url(../../../images/job-icon-sets/job-icon-set1/File_Open_16x16.png) no-repeat !important;
}

.ui-job-icon-file-listener {
	background: url(../../../images/job-icon-sets/job-icon-set1/Read_More_16x16.png) no-repeat !important;
}

.ui-job-icon-process-node {
	background: url(../../../images/job-icon-sets/job-icon-set1/Publish_16x16.png) no-repeat !important;
}