			.ui-success-state-icon {
				background: url(../../../images/job-state-icon-sets/job-state-icon-flags/Flag_Green_16x16.png) no-repeat !important;
				background-size: 100% 100%;
			}
			.ui-failed-state-icon {
				background: url(../../../images/job-state-icon-sets/job-state-icon-flags/Flag_Red_16x16.png) no-repeat !important;
			}
			.ui-working-state-icon {
				background: url(../../../images/job-state-icon-sets/job-state-icon-flags/Flag_Light_Blue_16x16.png) no-repeat !important;
			}
			.ui-timeout-state-icon {
				background: url(../../../images/job-state-icon-sets/job-state-icon-flags/Flag_Pink_16x16.png) no-repeat !important;
			}
			.ui-timein-state-icon {
				background: url(../../../images/job-state-icon-sets/job-state-icon-flags/Flag_Light_Blue_16x16.png) no-repeat !important;
			}
			.ui-waiting-state-icon {
				background: url(../../../images/job-state-icon-sets/job-state-icon-flags/Flag_Brown_16x16.png) no-repeat !important;
			}
			.ui-bytime-state-icon {
				background: url(../../../images/job-state-icon-sets/job-state-icon-flags/Flag_Brown_16x16.png) no-repeat !important;
			}
			.ui-default-state-icon {
				background: url(../../../images/job-state-icon-sets/job-state-icon-flags/Flag_Orange_16x16.png) no-repeat !important;
			}